<?php
/*
 * $Id$
 */


	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/ui-widget.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'tmpl.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/load-image.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/canvas-to-blob.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/iframe-transport.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/fileupload.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'image_loader'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'selector'));
//	$partViewer->view('_parts/js', Model::create()->set('name', '/get/js/locale'));

	$bedsList = array();
	for ($number = 1; $number < 6; $number ++)
		$bedsList[$number] = $number;

	$priceList = array();
	for ($number = 100000; $number < 500000; $number += 100000)
		$priceList[$number] = $number;

?>

<div class="container_24">

	<!-- Main Form -->
	<div class="g_16">

		<form
			action="/property/<?=$form->getValue('id') ? 'save' : 'add'?>/<?=$form->getActualValue('offer')->getName()?>"
			id="fileupload"
			method="POST"
			enctype="multipart/form-data"
		>

		<div class="g_10 alpha">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'name',
				'label'	=> "Title",
			))
	);
?>
		</div>
		<div class="g_6 omega">
<?php
	$partViewer->view(
		'_parts/form/combo',
		Model::create()->
			set('params', array(
				'name'	=> 'city',
				'label'	=> "Location",
				'list'	=> $cityList,
				'topOption'	=> '',
			))
	);
?>
		</div>
		<div class="clear"></div>

		<div class="g_6 alpha">
			<div class="g_6 alpha omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'property',
				'label'	=> "Property type",
				'list'	=> $propertyTypeList,
				'value'	=> PropertyType::PROPERTY,
			))
	);
?>
			</div>
			<div class="clear"></div>
			<div class="g_3 alpha">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PRICE.']',
				'label'	=> "Price",
				'class'	=> 'price'
			))
	);
?>
			</div>
			<div class="g_3 omega">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::AREA.']',
				'label'	=> "Area",
				'class'	=> 'area'
			))
	);
?>
			</div>
			<div class="clear"></div>
			<div class="g_3 alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::BEDROOMS.']',
				'label'	=> "Bedrooms",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
			</div>
			<div class="g_3 omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::TOYLETS.']',
				'label'	=> "Toylets",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
			</div>
			<div class="clear"></div>
			<div class="g_3 alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PARKING.']',
				'label'	=> "Parking places",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
			</div>
		</div>

		<div class="g_5">
<?php
	$indoorFeatures = array(
		1	=> 'Gym',
		2	=> 'Workshop',
		3	=> 'Spa',
		4	=> 'Rumpus room',
		5	=> 'Floorboards',
		6	=> 'Broadband internet available',
		7	=> 'Pay TV access',
		8	=> 'Open fireplace',
		9	=> 'Storage heating',
		10	=> 'Split-system heating',
		11	=> 'Hydronic heating',
		12	=> 'Split-system air conditioning',
		13	=> 'Air conditioning',
		14	=> 'Gas heating',
		15	=> 'Reverse cycle air conditioning',
		16	=> 'Evaporative cooling'
	);

	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'indoorFeatures',
				'label'	=> "Indoor features",
				'list'	=> $indoorFeatures,
				'type'	=> 'multiselect'
			))
	);
?>
		</div>

		<div class="g_5 omega">
<?php
	$outdoorFeatures = array(
		1	=> 'Carport',
		2	=> 'Garage',
		3	=> 'Open car spaces',
		4	=> 'Remote garage',
		5	=> 'Secure Parking',
		6	=> 'Swimming pool',
		7	=> 'Spa',
		8	=> 'Tennis court',
		9	=> 'Balcony',
		10	=> 'Deck',
		11	=> 'Courtyard',
		12	=> 'Shed',
		13	=> 'Fulley fenced',
		14	=> ''
	);

	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'outdoorFeatures',
				'label'	=> "Outdoor features",
				'list'	=> $outdoorFeatures,
				'type'	=> 'multiselect'
			))
	);
?>

		</div>
		<div class="clear"></div>

		<div class="g_16 alpha omega">
			<fieldset id="images">
				<input type="file" name="file" id="fileButton" multiple="true" style="display: none;"/>
				<label for="images">Property Images (drag & drop in the field below or <span id="fileTrigger">press here</span> to add)</label>
				<ul class="input" id="fileContainer"></ul>
			</fieldset>
		</div>

		</form>
	</div>

	<!-- Useful Hints -->
	<div class="g_10">

	</div>

</div>

<script type="text/javascript">
	
$(document).ready(function(){
	ImageLoader.init();
	Selector.init();
	
	$('INPUT#edit_city').auto_grep()
});

(function($){
	$.fn.auto_grep = function(){
		
		this.keyup(function(){
			var self = $(this);
			var options = [];
			
			$('DD', $(this).parent()).each(function(i, element){
				var reg = new RegExp('^' + self.val() + '.*', 'ig');
				var count = 0;
				
				if ($(element).text().match(reg)) {
					$(element).show();
					options.push(element);
				} else {
					$(element).hide()
				}
			});
			
			switch (options.length) {
				case 0:
					self.parent().addClass('error');
					$('DL', self.parent()).hide();
				default:
					$('DL', self.parent()).show();
					break;
			}
		});
	}
})(jQuery);

</script>
<script type="text/x-tmpl" id="tmplUpload">
<li class="file" id="file_{%= '' + o.file.id %}">
	<div class="name">{%= o.file.name %} ({% if (o.file.size >> 20 > 0) print(o.file.size >> 20 + 'Mb'); else print(o.file.size >> 10 + 'kb'); %})</div>
	<div class="button drop">x</div>
	<div class="clear"></div>
	
	<div class="preview"></div>
	<div class="input">
		<input type="text" name="file_comment_{%=o.file.id%}" value="" />
	</div>
</li>
</script>
