<?php
/*
 * $Id$
 */


	$partViewer->view('_parts/js', Model::create()->set('name', 'selector'));

	$bedsList = array();
	for ($number = 1; $number < 6; $number ++)
		$bedsList[$number] = $number;

	$priceList = array();
	for ($number = 100000; $number < 500000; $number += 100000)
		$priceList[$number] = $number;

//	$partViewer->view('_parts/css', Model::create()->set('name', 'bootstrap.min'));
//	$partViewer->view('_parts/css', Model::create()->set('name', 'bootstrap-ie6.min')->set('ie', 'lt IE 7'));
//	$partViewer->view('_parts/css', Model::create()->set('name', 'bootstrap-responsive.min'));
//	$partViewer->view('_parts/css', Model::create()->set('name', 'bootstrap-image-gallery.min'));
//
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'html5-non-ie9')->set('ie', 'lt IE 9'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/ui.widget'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'tmpl.min'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/load-image.min'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/canvas-to-blob.min'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/bootstrap.min'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/bootstrap-image-gallery.min'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/iframe-transport.js'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/fileupload'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/fileupload-fp.js'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/fileupload-ui.js'));
//	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/locale'));

	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/ui.widget'));
	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/iframe-transport.js'));
	$partViewer->view('_parts/js',  Model::create()->set('name', 'jquery/fileupload'));
?>

<div class="container_24">

	<!-- Main Form -->
	<div class="g_16">

		<form action="/property/<?=$form->getValue('id') ? 'save' : 'add'?>/<?=$form->getActualValue('offer')->getName()?>" method="POST">

		<div class="g_10 alpha">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'name',
				'label'	=> "Title",
			))
	);
?>
		</div>
		<div class="g_6 omega">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'city',
				'label'	=> "Location",
			))
	);
?>
		</div>
		<div class="clear"></div>

		<div class="g_4 alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'property',
				'label'	=> "Property type",
				'list'	=> $propertyTypeList,
				'value'	=> PropertyType::PROPERTY,
			))
	);
?>
		</div>
		<div class="g_3">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::BEDROOMS.']',
				'label'	=> "Bedrooms",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
		</div>
		<div class="g_3">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::TOYLETS.']',
				'label'	=> "Toylets",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
		</div>
		<div class="g_3">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::AREA.']',
				'label'	=> "Area",
				'class'	=> 'area'
			))
	);
?>
		</div>
		<div class="g_3 omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PARKING.']',
				'label'	=> "Parking places",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
		</div>
		<div class="clear"></div>

		<div class="g_16 alpha omega">
			<fieldset id="images">
				<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>

				<input type="file" name="files[]" id="fileupload" multiple="true" style="display: none;" data-url="/property/upload"/>
				<label for="images">Property Images (drag & drop in the field below or <span id="fileTrigger">press here</span> to add)</label>
				<div class="input" id="fuDropZone" style="height: 200px"><ul id="fileList"></ul></div>
			</fieldset>
		</div>

		</form>
	</div>

	<!-- Useful Hints -->
	<div class="g_10">

	</div>

</div>

<script type="text/javascript">
$(document).ready(function(){
	$(document).bind('drop dragover', function (e) {
		e.preventDefault();
		return false;
	});
	$('#fileupload').fileupload({
		url:		'/property/upload',
		namespace:	'fuDropZone',
		dataType: 'json',
		done: function (e, data) {
			$.each(data.result, function (index, file) {
				$('<p/>').text(file.name).appendTo(document.body);
			});
		}
	});
//	$('#fileupload').fileupload({
//		progress: function (e, data) {
//			var progress = parseInt(data.loaded / data.total * 100, 10);
//			$('#progress .bar').css(
//				'width',
//				progress + '%'
//			);
//		},
//		progressall: function (e, data) {
//			var progress = parseInt(data.loaded / data.total * 100, 10);
//			$('#progress .bar').css(
//				'width',
//				progress + '%'
//			);
//		}
//	});
});

//	$('#fileupload').fileupload();
//    $('#fileupload').fileupload(
//        'option',
//        'redirect',
//        window.location.href.replace(
//            /\/[^\/]*$/,
//            '/result.html?%s'
//        )
//    );
//
//	$('#fileupload').fileupload('option', {
//		url: '/property/image/upload',
//		maxFileSize: 5000000,
//		acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
//		process: [
//			{
//				action: 'load',
//				fileTypes: /^image\/(gif|jpeg|png)$/,
//				maxFileSize: 20000000 // 20MB
//			},
//			{
//				action: 'resize',
//				maxWidth: 1440,
//				maxHeight: 900
//			},
//			{
//				action: 'save'
//			}
//		]
//	});
//
//});
</script>