<?php
/*
 * $Id$
 */


	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/ui-widget.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'tmpl.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/load-image.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/canvas-to-blob.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/iframe-transport.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'jquery/fileupload.min'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'image_loader'));
//	$partViewer->view('_parts/js', Model::create()->set('name', '/get/js/locale'));

	$bedsList = array();
	for ($number = 1; $number < 6; $number ++)
		$bedsList[$number] = $number;

	$priceList = array();
	for ($number = 100000; $number < 500000; $number += 100000)
		$priceList[$number] = $number;

?>

<div class="container_24">

	<!-- Main Form -->
	<div class="g_16">

		<form
			action="/property/<?=$form->getValue('id') ? 'save' : 'add'?>/<?=$form->getActualValue('offer')->getName()?>"
			id="fileupload"
			method="POST"
			enctype="multipart/form-data"
		>

		<div class="g_10 alpha">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'name',
				'label'	=> "Title",
			))
	);
?>
		</div>
		<div class="g_6 omega">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'city',
				'label'	=> "Location",
			))
	);
?>
		</div>
		<div class="clear"></div>

		<div class="g_4 alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'property',
				'label'	=> "Property type",
				'list'	=> $propertyTypeList,
				'value'	=> PropertyType::PROPERTY,
			))
	);
?>
		</div>
		<div class="g_3">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::BEDROOMS.']',
				'label'	=> "Bedrooms",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
		</div>
		<div class="g_3">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::TOYLETS.']',
				'label'	=> "Toylets",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
		</div>
		<div class="g_3">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::AREA.']',
				'label'	=> "Area",
				'class'	=> 'area'
			))
	);
?>
		</div>
		<div class="g_3 omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PARKING.']',
				'label'	=> "Parking places",
				'list'	=> $bedsList,
				'topOption'	=> 'Choose...',
			))
	);
?>
		</div>
		<div class="clear"></div>

		<div class="g_16 alpha omega">
			<fieldset id="images">
				<input type="file" name="file" id="fileButton" multiple="true" style="display: none;"/>
				<label for="images">Property Images (drag & drop in the field below or <span id="fileTrigger">press here</span> to add)</label>
				<ul class="input" id="fileContainer"></ul>
			</fieldset>
		</div>

		</form>
	</div>

	<!-- Useful Hints -->
	<div class="g_10">

	</div>

</div>

<script type="text/javascript">
	
$(document).ready(function(){
	ImageLoader.init();
	$('INPUT#city').auto_complete()
});

(function($){
	$.fn.auto_complete = function(options){
		var self = this;
		var size = 0;

		var options = $.extend({
			url:	'/get/cities',
			tmpl:	'auto_complete'
		},options);

		this.keyup(function(){
			var input = this;
			var text = $(this).get(0).tagName.toLowerCase() == 'input'
				? $(this).val()
				: $(this).text();

			if (text.length == size)
				return true;

			size = text.length;
			$('#citySelector DL')
			$.getJSON(options.url, {sample: text}, function(data){
				switch ($(data.list).size()) {
					case 0:
						break;
					case 1:
						self.val(data.list[0].name);
						break;
					default:
						$(tmpl(options.tmpl, data)).appendTo(self.parent());
						$('#citySelector DL').height(150).show();
						break;
				}
//				$.each(data.cityList, function(i, city){
//					jq(input).selector('detach');
//					jq(input).selector('attach', data.list);
//				});
			});
		});
	}
})(jQuery);

</script>

<script type="text/x-tmpl" id="auto_complete">
	<div class="select" id="citySelector">
		<dl>
{% for(i in o.list) { %}
			<dd><input type="radio" name="cityChoice" value="{%=o.list[i].id%}"/><div>{%=o.list[i].name%}</div></dd>
{% } %}
		</dl>
	</div>
</script>
