<?php
/*
 * $Id$
 */

	$features = $property->getFeatures()->getList();
	$pictures = $property->getPictures()->getList();
	$date = $property->getPublished();
?>

<br/>
<div class="container_24">

<?/* ttile */?>
	<div class="g_20">
		<h1><?=$property->getName()?> (#<?=$property->getId()?>)</h1>
	</div>


<?/* published flag */?>
	<div class="g_4 info <?=$date ? null : 'nok'?>">
<?php
	if ($date) {
		echo 'Published: '.$date->toDate();
	} else {
		echo 'Is not published';
	}
?>
	</div>
	<div class="clear"></div>


<?/* main description */?>
	<div class="g_8 infoBlock">
		<dl>
<?php
	$first = true;
	foreach(array(FeatureType::BEDROOMS, FeatureType::TOYLETS, FeatureType::CAR_PLACES) as $typeId) {
?>
			<dd title="<?=$features[$typeId]->getType()->getDisplayName()?>" class="type<?=$typeId?><?=$first ? ' alpha' : null?>"><div><?=$features[$typeId]->getValue()?></div></dd>
<?php
		$first = false;
	}
	
	if (isset($features[FeatureType::AREA])) {
?>
			<dd class="square"><div>Area: <?=$features[FeatureType::AREA]->getValue()?> m<sup>2</sup></div></dd>
<?php
	}
?>
		</dl>
		<div class="clear"></div>
		
		<div class="g_8 price">
			<div>&euro; <?=number_format($features[FeatureType::PRICE]->getValue(), 0, null, "'")?></div>
		</div>
		
		<div class="g_8">
			<br/>
			<b>Indoor features</b><br/>
			<ul>
<?php
	foreach (FeatureType::dao()->getListByGroup(FeatureType::INDOOR) as $typeId => $type) {
		if (isset($features[$typeId])) {
?>
				<li>- <?=$type->getDisplayName()?></li>
<?php
		}
	}
?>
			</ul>
		</div>
		<div class="clear"></div>

		<div class="g_8">
			<br/>
			<b>Outdoor features</b><br/>
			<ul>
<?php
	foreach (FeatureType::dao()->getListByGroup(FeatureType::OUTDOOR) as $typeId => $type) {
		if (isset($features[$typeId])) {
?>
				<li>- <?=$type->getDisplayName()?></li>
<?php
		}
	}
?>
			</ul>
		</div>
		<div class="clear"></div>

		<div class="g_8">
			<br/>
			<b>Description</b><br/>
			<?=$property->getDescription()?>
		</div>
		<div class="clear"></div>
	</div>


<?/* main image */?>
	<div class="g_16 gallery">
		<div class="g_16 alpha omega">
			<div class="title"><?=$property->getImage()->getComment()?></div>
		</div>
		<div class="clear"></div>
		<div class="g_16 alpha omega" id="bigPicture">
<?php
	$partViewer->view(
		'_parts/picture',
		Model::create()->
			set('picture', $property->getImage())->
			set('size', ImageSize::big())
	)
?>
		</div>
		<div class="clear"></div>

		
<?/* preview list */?>
		<div class="g_16 alpha omega previewList nowrap">
			<dl>
<?php
	$first = true;
	foreach ($pictures as $picture) {
		$class = '';
		
		if ($first)
			$class .= ' alpha';
		
		if ($picture->isMain())
			$class .= ' highlite';
?>
				<dd class="<?=$class?>">
<?php
		$partViewer->view(
			'_parts/picture',
			Model::create()->
				set('picture', $picture)->
				set('size', ImageSize::preview())
		);
		
		$first = false;
?>
				</dd>
<?php
	}
?>
			</dl>
		</div>
	</div>
		 
</div>

<script type="text/javascript">
	
</script>
