
.container {
	margin-top: 20px;
}

BODY {
	margin: 0px;
	padding: 0px;
	background: url(/i/bg.png) repeat-y center #E3E3E3;
}

.topMenu, .userStuff {
	text-align: right;
}

.block {
/*	background: url(/i/block.png) repeat-x;
	padding-top: 20px;*/
}

H1, H2, H3 {
	color: #666666;
}

.topMenu, .userStuff {
	text-align: right;
}

.searchTab LI {
	float: left;
	width: 50%;
}
.searchTab LI DIV {
	padding: 5px 0px;
	text-align: center;
	font: bold 18px sans-serif;
	text-transform: uppercase;
	color: #FFCD6C;
	border-top: 2px #FFE6B6 solid;
	border-left: 2px #FFCD6C solid;
	border-bottom: 2px #FFCD6C solid;
	cursor: pointer;
}

.searchTab LI DIV.active {
	border-top: 2px #FFCD6C solid;
	border-bottom: 2px #FFE6B6 solid;
	color: #FFF;
}

INPUT, SELECT, TEXTAREA {
	background-color: #FFF;
	width: 100%;
	border: none;
	outline: none;
	padding: 5px;
	cursor: pointer
}
.fields > DIV {
	border: 1px #FFCD6C solid;
	background-color: #FFF;
/*	padding: 5px;*/
}


.select, .multiselect  {
	border: 1px #FFCD6C solid;
	background: url("/i/bg_arr.png") no-repeat #FFF right;
}

.input {
	border: 1px #FFCD6C solid;
	background-color: #FFF;
}

.select DL {
	display: none;
	position: absolute;
	overflow: auto;
	overflow-x: hidden;
	max-height: 200px;
	background-color: #FFF;
	border: 1px #FFCD6C solid;
}

.multiselect DL {
	display: block;
	overflow: auto;
	overflow-x: hidden;
	height: 150px;
	background-color: #FFF;
}

.select DD, .multiselect DD {
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 10px;
	margin: 1px;
	background-color: white;
}

.select DD DIV, .multiselect DD DIV {
	width: 100%;
}

.select .title {
	padding: 5px 10px;
	cursor: pointer;
}

.select DD:hover, .multiselect DD:hover {
	background-color: #FFF9E9;
}

.area {
	background: url("/i/m2.png") no-repeat #FFF;
	background-position: 95% 50%;
}

.error {
	border-color: #F00;
}

fieldset {
	margin-top: 10px;
}

.checked {
	background-color: #FFCD6C !important;
}

.select DD INPUT, .multiselect DD INPUT {
	display: none;
}



#fileContainer {
	height: 220px;
	overflow: hidden;
}

#fileTrigger {
	text-decoration: underline;
	cursor: pointer;
}
fieldset .highlite {
	border: 1px darkorange solid !important;
}
.file {
	float: left;
	width: 180px;
	height: 180px;
	background-color: #FFF9E9;
	margin: 20px 0 0 20px;
	font: 12px sans-serif;
}

.file .name {
	width: 140px;
	float: left;
	padding: 5px 5px;
	height: 15px;
	overflow: hidden;
}
.file .drop {
	width: 20px;
	float: left;
	text-align: center;
	padding: 5px 5px;
	height: 15px;
	cursor: pointer;
}

.button:hover {
	background-color: #FFE6B6;
}