
.container {
	margin-top: 20px;
}

BODY {
	margin: 0px;
	padding: 0px;
	background: url(/i/bg.png) repeat-y center #E3E3E3;
}

.topMenu, .userStuff {
	text-align: right;
}

.block {
	background: url(/i/block.png) repeat-x;
	padding-top: 20px;
}

H1, H2, H3 {
	color: #666666;
}

.topMenu, .userStuff {
	text-align: right;
}

.searchTab LI {
	float: left;
	width: 50%;
	padding: 5px 0px;
	text-align: center;
	font: bold 18px sans-serif;
	text-transform: uppercase;
}
.buy {
	background-color: #FFCD6C;
	color: #FFF;
}
.rent {
	background-color: #FFE6B6;
	color: #999;
}

INPUT, SELECT, TEXTAREA {
	background-color: #FFF;
	width: 100%;
	border: none;
	outline: none;
	padding: 5px;
}
.fields > DIV {
	border: 1px #FFCD6C solid;
	background-color: #FFF;
/*	padding: 5px;*/
}


.select {
	border: 1px #FFCD6C solid;
	background: url("/i/arr_down.png") no-repeat #FFF;
	background-position: 95% 50%;
}

.input {
	border: 1px #FFCD6C solid;
	background-color: #FFF;
}

.select DL {
	display: none;
	position: absolute;
	overflow: auto;
	overflow-x: hidden;
	max-height: 200px;
	background-color: #FFF;
	border: 1px #FFCD6C solid;
/*	padding-top: 5px;*/
}

.select DD {
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 10px;
	margin: 0;
	background-color: white;
}

.select DD DIV {
	width: 100%;
}

.select .title {
	padding: 5px 10px;
	cursor: pointer;
}

.select DD:hover {
	background-color: #FFF9E9;
}

.area {
	background: url("/i/m2.png") no-repeat #FFF;
	background-position: 95% 50%;
}