
.container {
	margin-top: 20px;
}

BODY {
	margin: 0px;
	padding: 0px;
	background: url(/i/bg.png) repeat-y center #E3E3E3;
}

H1, H2, H3 {
	color: #666666;
}

.shadow {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #000;
	opacity: 0.7;
	z-index: 50;
}

.hr {
	background-color: #ffce6e;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 10px;
	z-index: 100;
}

.mainMenu {
	padding-top: 20px;
	border-bottom: 2px #ffc251 solid;
}

.mainMenu UL LI {
	position: relative;
	float: left;
	display: block;
	margin-right: 5px;
}
.mainMenu UL LI A {
	display: block;
	padding: 5px 10px;
	background-color: #ffc251;
	font: bold 12px sans-serif;
	text-decoration: none;
	color: #FFF;
}

.userStuff {
	background-color: #FFF;
	border: 1px #FFCD6C solid;
	float: left;
	z-index: 70;
}
.userStuff A {
	text-transform: uppercase;
	font: bold 10px sans-serif;
	color: #999;
}

.close {
	margin-top: 5px;
	text-align: right;
}

.close A {
	font: bold 10px monospace  !important;
	text-decoration: none !important;
	border-bottom: 1px #CCC solid;
	color: #000;
}

.close SPAN {
	background-color: #EEE;
	margin-left: 5px;
	padding: 0px 5px;
	font-weight: bold;
}

/* get rid of the tabs,  use top menu */
.searchTab LI {
	float: left;
	width: 50%;
}
.searchTab LI DIV {
	padding: 5px 0px;
	text-align: center;
	font: bold 18px sans-serif;
	text-transform: uppercase;
	color: #FFCD6C;
	border: 2px #FFCD6C solid;
	border-top: 2px #FFF solid;
	border-right: 2px #FFCD6C solid;
	border-left: 2px #FFCD6C solid;
	cursor: pointer;
	background-color: #FFF;
}
.searchTab LI DIV.active {
	border: 2px #FFCD6C solid;
	border-bottom: 2px #FFE6B6 solid;
	border-left: 2px #FFE6B6 solid;
	color: #FFCD6C;
	background-color: #FFE6B6;
}
/* get rid of the tabs,  use top menu */




INPUT, SELECT, TEXTAREA {
	background-color: #FFF;
	width: 100%;
	border: none;
	outline: none;
	padding: 5px;
	cursor: pointer;
	margin: 0px;
}

.fields > DIV {
	border: 1px #FFCD6C solid;
	background-color: #FFF;
/*	padding: 5px;*/
}


.select, .multiselect  {
	border: 1px #FFCD6C solid;
	background: url("/i/bg_arr.png") no-repeat #FFF right;
}

.input {
	border: 1px #FFCD6C solid;
	background-color: #FFF;
}

.button {
	border: 1px #ffc251 solid;
	background-color: #ffc251 !important;
	color: #FFF;
}
.button INPUT {
	background-color: transparent;
	color: #FFF;
	font: bold 12px sans-serif;
}

.select DL {
	display: none;
	position: absolute;
	overflow: auto;
	overflow-x: hidden;
	max-height: 200px;
	background-color: #FFF;
	border: 1px #FFCD6C solid;
}

.multiselect DL {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	height: 150px;
	background-color: #FFF;
}

.select DD, .multiselect DD {
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 10px;
	margin: 1px;
	background-color: white;
	font: normal 12px sans-serif;
}

.select DD DIV, .multiselect DD DIV {
	width: 100%;
}

.select .title {
	padding: 5px 10px;
	cursor: pointer;
}

.title, .input INPUT {
	font: normal 12px sans-serif;
}

.select DD:hover, .multiselect DD:hover {
	background-color: #FFF9E9;
}

.area {
	background: url("/i/m2.png") no-repeat #FFF;
	background-position: 95% 50%;
}

.error {
	border-color: #F00;
}

fieldset {
	margin-top: 10px;
}

.checked {
	background-color: #FFE6B6 !important;
}

.select DD INPUT, .multiselect DD INPUT {
	display: none;
}

LABEL {
	color: #999;
	font: bold 13px sans-serif;
	font-variant: small-caps;
}

#fileContainer {
	height: 220px;
	overflow: hidden;
}

#fileTrigger {
	text-decoration: underline;
	cursor: pointer;
}
fieldset .highlite {
	border: 1px darkorange solid !important;
}
LI.main {
	border: 5px #FFCD6C solid !important;
}
.file {
	float: left;
	width: 180px;
	/*height: 180px;*/
	background-color: #FFF9E9;
	margin: 15px 0 0 15px;
	font: 12px sans-serif;
	border: 5px #FFF solid;
}

.file:hover {
	border: 5px #FFE6B6 solid;
}

.file .name {
	width: 140px;
	float: left;
	padding: 5px 5px;
	height: 15px;
	overflow: hidden;
	white-space: nowrap;
}
.file .drop {
	width: 20px;
	float: left;
	text-align: center;
	padding: 5px 5px;
	height: 15px;
	cursor: pointer;
}

.control:hover {
	background-color: #FFE6B6;
}

.preview {
	background-color: #FFF;
}