
.container {
	margin-top: 20px;
}

BODY {
	margin: 0px;
	padding: 0px;
	background: url(/i/bg.png) repeat-y center #E3E3E3;
}

.topMenu, .userStuff {
	text-align: right;
}

.block {
	background: url(/i/block.png) repeat-x;
	padding-top: 20px;
}

H1, H2, H3 {
	color: #666666;
}

.topMenu, .userStuff {
	text-align: right;
}

.searchTab LI {
	float: left;
	width: 50%;
	padding: 5px 0px;
	text-align: center;
	font: bold 18px sans-serif;
	text-transform: uppercase;
}
.buy {
	background-color: #FFCD6C;
	color: #FFF;
}
.rent {
	background-color: #FFE6B6;
	color: #999;
}

IMPUT, SELECT, TEXTAREA {
	background-color: #FFF;
	width: 100%;
	border: none;
	outline: none;
	padding: 5px;
}
.fields DIV {
	border: 1px #FFCD6C solid;
	background-color: #FFF;
/*	padding: 5px;*/
}