<?xml version="1.0"?>
<!DOCTYPE metaconfiguration SYSTEM "meta.dtd">

<!-- $Id$ -->

<metaconfiguration>
<classes>

	<class name="User" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="64" required="true" />
			<property name="surname" type="String" size="64" required="true" />
			<property name="username" type="String" size="64" required="true" />
			<property name="password" type="String" size="40" required="true" />
			<property name="email" type="String" size="128" required="true" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>
	
	<class name="Unit" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="32" required="true" />
			<property name="value" type="String" size="32" required="true" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>
	
	<class name="FeatureType" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="32" required="true" />
			<property name="priority" type="Integer" required="true" default="1" />
			<property name="required" type="Boolean" required="true" default="true" />
			<property name="unit" type="Unit" relation="OneToOne" required="false" fetch="lazy" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>

	<class name="Feature" type="final">
		<properties>
			<identifier name="id" />
			<!-- current feature instance description -->
			<property name="content" type="String" size="128" required="false" />
			<property name="value" type="Integer" required="false" />
			<property name="type" type="FeatureType" relation="OneToOne" required="true" fetch="lazy"/>
			<property name="property" type="Property" relation="OneToOne" required="true" fetch="lazy" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>


	<class name="OfferType" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="16" required="true" />
		</properties>
		<pattern name="EnumerationClass" />
	</class>
	
	<class name="PropertyType" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="16" required="true" />
		</properties>
		<pattern name="EnumerationClass" />
	</class>

	<class name="ImageType" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="16" required="true" />
		</properties>
		<pattern name="EnumerationClass" />
	</class>

	<class name="Picture" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="128" required="false" />
			<property name="type" type="ImageType" relation="OneToOne" required="true" fetch="lazy" />
			<property name="main" type="Boolean" required="true" default="false" />
			<property name="width" type="Integer" required="true" />
			<property name="height" type="Integer" required="true" />
			<property name="property" type="Property" relation="OneToOne" required="true" fetch="lazy" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>
	
	<class name="City" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="128" required="true" />
			<property name="latitude" type="Numeric" size="10,6" required="false" />
			<property name="longitude" type="Numeric" size="10,6" required="false" />
			<property name="parent" type="City" relation="OneToOne" required="false" fetch="lazy" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>
	
	<class name="Property" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="128" required="true" />
			<property name="description" type="String" size="512" required="false" />
			<property name="user" type="User" relation="OneToOne" required="true" fetch="lazy" />
			<!--property name="price" type="Numeric" size="10,2" required="false" /-->
			<property name="propertyType" type="PropertyType" relation="OneToOne" required="true" fetch="lazy" />
			<property name="offerType" type="OfferType" relation="OneToOne" required="true" fetch="lazy" />
			<property name="features" type="Feature" relation="OneToMany" required="false" />
			<property name="image" type="Picture" relation="OneToOne" required="false" />
			<property name="pictures" type="Picture" relation="OneToMany" required="false" />
			<property name="location" type="City" relation="OneToOne" required="true" fetch="lazy" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>

	<!--class name="Language" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="16" required="true" />
			<property name="code" type="String" size="2" required="true" />
			<property name="native" type="String" size="16" required="true" />
		</properties>
		<pattern name="EnumerationClass" />
	</class-->


</classes>
</metaconfiguration>
