<IfModule mod_rewrite.c>
	RewriteEngine On

#	RewriteRule ^(buy|rent)/(.+)$				index.php?area=search&action=$1&property=$2 [L]
#	RewriteRule ^(buy|rent)/(.+)/(.+)$			index.php?area=search&action=$1&property=$2&filter=$3 [L]
#	RewriteRule ^([a-z0-9]+)/([a-zA-Z0-9]+)$	index.php?area=$1&action=$2&%{QUERY_STRING} [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule	^(.+)$		index.php?query=$1&%{QUERY_STRING} [QSA,L]
</IfModule>
