<?php
/*
 * $Id$
 */

	$partViewer->view('_parts/js', Model::create()->set('name', 'selector'));

	// TODO: add to object builder fetch collection and store in interanl array
?>
	<br/>
	
	<div class="g_6 fields" style="background-acolor: #FFE6B6">
<?php
	$partViewer->view('_parts/form/listSearch');
?>
	</div>


	
	<div class="g_18">
<?php
	foreach ($relevance as $id => $relevance) {
		
		$partViewer->view(
			'_parts/blocks/listItem',
			Model::create()->
				set('item', $list[$id])->
				set('relevance', $relevance)
		);
?>
		<div class="clear"></div>
		<br/>

<?php
	}
?>
	</div>