<?php
/*
 * $Id$
 */

	$partViewer->view('_parts/js', Model::create()->set('name', 'selector'));

	$simpleList = array();
	for ($number = 1; $number < 5; $number ++)
		$simpleList[$number] = $number;
	
	$priceList = array();
	for ($number = 100000; $number < 500000; $number += 100000)
		$priceList[$number] = $number;

	// TODO: add to object builder fetch collection and store in interanl array
?>

	<div class="g_6 fields" style="background-acolor: #FFE6B6">
		<form name="searchForm" id="searchForm" action="<?=PATH_WEB?>" method="POST">
		<input type="hidden" name="status" value="<?=OfferType::BUY?>"/>
		
		<div class="g_6 alpha omega">
			
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'property',
				'label'	=> "Property type",
				'list'	=> $propertyTypeList,
				'value'	=> $property->getId()
			))
	);
?>
		</div>
		<div class="clear"></div>
		
		<div class="g_3 alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::BEDROOMS.'][min]',
				'label'	=> "Min Bedrooms",
				'list'	=> $simpleList,
				'topOption'	=> 'Any',
			))
	);
?>
		</div>
				
		<div class="g_3 omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::BEDROOMS.'][max]',
				'label'	=> "Max Bedrooms",
				'list'	=> $simpleList,
				'topOption'	=> 'Any',
			))
	);
?>
		</div>
		
		<div class="clear"></div>

		<div class="g_3 fields alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PRICE.'][min]',
				'label'	=> "Min Price",
				'list'	=> $priceList,
				'topOption'	=> 'Any',
			))
	);
?>
		</div>

		<div class="g_3 fields omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PRICE.'][max]',
				'label'	=> "Max Price",
				'list'	=> $priceList,
				'topOption'	=> 'Any',
			))
	);
?>
		</div>

		<div class="clear"></div>
		
		<div class="g_3 alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::TOYLETS.']',
				'label'	=> "Toylets",
				'list'	=> $simpleList,
				'topOption'	=> 'Any',
			))
	);
?>
		</div>

		<div class="g_3 fields omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PARKING.']',
				'label'	=> "Min Parkplaces",
				'list'	=> $simpleList,
				'topOption'	=> 'Any',
			))
	);
?>
		</div>

	</form>		

	</div>

	<div class="g_18">
		<table width="100%">
			<tr>
				<th>Title</th>
				<th>Price</th>
				<th>Area</th>
				<th>Beds</th>
				<th>Baths</th>
			</tr>
<?php
	$typesList = array(
		FeatureType::PRICE,
		FeatureType::AREA,
		FeatureType::BEDROOMS,
		FeatureType::TOYLETS,
	);
	
	foreach ($relevance as $id => $relevance) {
		$item = $list[$id];
		$features = $item->getFeatures()->getList();
?>
			<tr>
				<td><?=$item->getName()?></td>
<?php
		foreach ($typesList as $typeId) {
?>
				<td><?=empty($features[$typeId]) ? '-' : $features[$typeId]->getValue()?></td>
<?php
		}
?>
			</tr>
<?
	}
?>
		</table>
	</div>