<?php
/*
 * $Id$
 */
?>
	<a href="/index.php?area=property&action=edit">Add new</a> |
	<a href="/index.php?area=property&action=list">Full list</a> |
	<a href="/index.php?area=property&action=unpublished">Not published</a> |
	
	<table width="50%">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Offer</th>
			<th>Price</th>
			<th></th>
		</tr>
<?php
	foreach ($list as $item) {
		$features = $item->getFeatures()->getList();
?>
	<tr>
		<td><a target="_blank" href="<?=PATH_WEB?>property/view/<?=$item->getId()?>"><b><?=$item->getName()?></a></b></td>
		<td><b><?=$item->getPropertyType()->getName()?></b></td>
		<td><b><?=$item->getOfferType()->getName()?></b></td>
		<td nowrap><b>&euro; <?=number_format($features[FeatureType::PRICE]->getValue(), 0, '.',  "'")?></b></td>
		<td rowspan="2" nowrap>
			<a href="/index.php?area=property&action=edit&id=<?=$item->getId()?>">edit</a> |
			<a href="/index.php?area=property&action=drop&id=<?=$item->getId()?>">drop</a>
		</td>
	</tr><tr>
		<td colspan="3"><?=$item->getFeaturesAnounce()?></td>
	</tr>
<?php
	}
?>
	</table>
