<?php
/*
 * $Id$
 */
?>
	<a href="<?=$urlMapper->getObjectUrl($subject, 'edit')?>">Add new</a><br />
	
	<table width="50%">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Offer</th>
			<th>Price</th>
			<th></th>
		</tr>
<?php
	foreach ($list as $item) {
?>
	<tr>
		<td><b><?=$item->getName()?></b></td>
		<td><b><?=$item->getPropertyType()->getName()?></b></td>
		<td><b><?=$item->getOfferType()->getName()?></b></td>
		<td rowspan="2">
			<a href="<?=$urlMapper->getObjectUrl($item, 'edit')?>">edit</a> |
			<a href="<?=$urlMapper->getObjectUrl($item, 'drop')?>">drop</a>
		</td>
	</tr><tr>
		<td colspan="3"><?=$item->getFeaturesAnounce()?></td>
	</tr>
<?php
	}
?>
	</table>
