<?php
/*
 * $Id$
 */
	extract($params);

	if (empty($type))
		$type = 'select';
	
	if (!isset($value))
		$value = 0;
	
	if (isset($topOption)) {
		array_merge(array($value => $topOption), $list);
	} else {
		if (empty($value)) {
			reset($list);
			$value = key($list);
		}
		
		$item = $list[$value];
		
		$topOption = $item instanceof NamedObject
			? $item->getDisplayName()
			: $item;
	}
	
	$selectedName = isset($value) && !empty($value)
		? $list[$value]
		: $topOption;
?>
					<fieldset id="<?=$name?>">
						<label for="<?=$name?>"><?=$label?></label>
						<div class="<?=$type?>">
<?php
	if (isset($topOption) && $type == 'select') {
?>
							<div class="title"><?=$selectedName?></div>
<?php
	}
?>
							<dl>
<?php
	foreach ($list as $index => $option) {
		if ($option instanceof NamedObject) {
			$index = $option->getId();
			$option =  $option->getDisplayName();
		}

		if ($type == 'select') {
			if ($value == $index) {
?>
								<dd class="checked"><input type="radio" name="<?=$name?>" value="<?=$index?>" checked="checked" /><div><?=$option?></div></dd>
<?php
			} else {
?>
								<dd><input type="radio" name="<?=$name?>" value="<?=$index?>" /><div><?=$option?></div></dd>
<?php
			}
		} else {
			if ($value == $index) {
?>
								<dd class="checked"><input type="checkbox" name="<?=$name?>[<?=$index?>]" value="1"  checked="checked" /><div><?=$option?></div></dd>
<?php
			} else {
?>
								<dd><input type="checkbox" name="<?=$name?>[<?=$index?>]" value="1"/><div><?=$option?></div></dd>
<?php
			}
		}
	}
?>
							</dl>
						</div>
					</fieldset>
