<?php
/*
 * $Id$
 */
?>
<form method="post">
<div class="alpha p_1 g_10 s_1 omega userStuff">
	<div class="g_4 alpha">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'name',
				'label'	=> "First name",
			))
	);
?>
	</div>
	<div class="g_4">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'surname',
				'label'	=> "Last name",
			))
	);
?>
	</div>
	<div class="clear"></div>
	
	<div class="g_4 alpha">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'username',
				'label'	=> "User name",
			))
	);
?>
	</div>
	<div class="g_4">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'password',
				'label'	=> "Password",
				'type'	=> 'password'
			))
	);
?>
	</div>
	<div class="g_2 omega">
<?php
	$partViewer->view(
		'_parts/form/button',
		Model::create()->
			set('params', array(
				'value'	=> 'SUBMIT',
				'name'	=> 'login',
			))
	);
?>
	</div>
	<div class="clear"></div>
	
	<div class="g_4 alpha"><a href="/">Registration</a></div>
	<div class="g_4"><a href="/">Forgot password</a></div>
	<div class="clear"></div>
	<br />
</div>
</form>