<?php
/*
 * $Id$
 */
?>
<form method="post" id="signinForm">
<div class="alpha p_1 g_10 s_1 omega userStuff" style="margin-top: -70px;">
	<div class="g_4 alpha">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'name',
				'label'	=> "First name",
			))
	);
?>
	</div>
	<div class="g_4">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'surname',
				'label'	=> "Last name",
			))
	);
?>
	</div>
	<div class="g_2 omega close"><a href="">close<span>x</span></a></div>

	<div class="clear"></div>
	
	<div class="g_4 alpha">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'email',
				'label'	=> "User name |e-mail|",
			))
	);
?>
	</div>
	<div class="g_4">
<?php
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'password',
				'label'	=> "Password",
				'type'	=> 'password',
			))
	);
	$partViewer->view(
		'_parts/form/input',
		Model::create()->
			set('params', array(
				'name'	=> 'phone',
				'label'	=> "Telephone",
			))
	);
?>
	</div>
	<div class="g_2 omega">
<?php
	$partViewer->view(
		'_parts/form/button',
		Model::create()->
			set('params', array(
				'value'	=> 'Sign In',
				'name'	=> 'button',
			))
	);
?>
	</div>
	<div class="clear"></div>
	
	<div class="g_4 alpha"><a href="javascript:void(null)" alt="Simple Registration" title="Simple Registration" id="toggleReg">Simple Registration</a></div>
	<div class="g_4"><a href="/">Forgot password</a></div>
	<div class="clear"></div>
	<br />
</div>
</form>

<script type="text/javascript">
$(document).ready(function(){
	$('#fs_phone').hide();
	
	$('#toggleReg').click(function(){
		if ($('.shadow').size() > 0)
			return;
		$('<div class="shadow">&nbsp;</div>').appendTo("body");
		$('.userStuff')
			.css('position', 'absolute')
			.animate(
				{'margin-top': -10},
				'fast',
				'swing',
				function(){
					$('#fs_password').val('').hide();
					$('#fs_phone').val('').show();
					$('#button').val('Sign Up');
					$('#signinForm').attr('action', '<?=PATH_WEB?>user/add');
				}
			);
	});
	
	$('.close').click(function(){
		$('.userStuff')
			.animate(
				{'margin-top': -70},
				'slow',
				function(){
					$('.shadow').remove();
					$(this).css('position', 'relative');
					$('#fs_password').val('').show();
					$('#fs_phone').val('').hide();
					$('#button').val('Sign In')
					$('#signinForm').attr('action', '');
				}
			);
	});
});
</script>