<?php
/*
 * $Id$
 */

	$partViewer->view('_parts/js', Model::create()->set('name', 'selector'));
	$partViewer->view('_parts/js', Model::create()->set('name', 'map'));

	$bedsList = array();
	for ($number = 1; $number < 5; $number ++)
		$bedsList[$number] = $number;
	
	$priceList = array();
	for ($number = 100000; $number < 500000; $number += 100000)
		$priceList[$number] = $number;
?>
<div class="container_24 block" style="background-color: #FFE6B6">

<script type="text/javascript">
$(document).ready(function(){
	Map.init();

	$('.searchTab LI').click(function(){
		$('.searchTab DIV').removeClass('active');
		$('DIV', this).addClass('active');
		$('INPUT[name=offerType]')
			.val($(this).hasClass('buy') ? <?=OfferType::BUY?> : <?=OfferType::RENT?>);
	});
});

</script>

	<div class="p_1 g_9">
		<div style="padding: 10px 0px;"> 
			<div id="mapDiv" style="background: url(<?=PATH_WEB_IMG?>map_bg350.png) no-repeat; background-position-y: 220px">
				<div id="chooseDiv" style="background: url(<?=PATH_WEB_IMG?>map_bg350.png) no-repeat; background-position-y: 220px">
					<img src="<?=PATH_WEB_IMG?>map350.png" width="350" height="220" usemap="mapMap" />
					<map id="mapMap" name="mapMap">
						<area href="javascript:void(null)" class="mapArea" id="NCS_0" shape="poly" coords="105,85,179,90,188,79,199,84,202,99,200,105,204,112,195,115,191,125,195,134,192,140,142,151,137,157,124,155,113,141,98,147,84,141,78,150,74,149,69,154,66,149,63,131,46,102" />
						<area href="javascript:void(null)" class="mapArea" id="LRN_1" shape="poly" coords="196,115,211,111,219,124,252,139,249,144,159,188,159,175,137,158,143,153,193,141,196,134,192,124" />
						<area href="javascript:void(null)" class="mapArea" id="LMS_2" shape="poly" coords="60,198,61,188,74,180,71,173,82,159,79,150,85,142,98,148,114,142,123,156,137,158,158,175,158,188,134,190,118,217,103,217,100,199,68,202" />
						<area href="javascript:void(null)" class="mapArea" id="PHS_3" shape="poly" coords="45,103,62,131,65,151,68,155,74,151,78,151,80,157,70,173,72,179,72,179,60,187,58,198,24,180,11,153,0,117" />
						<area href="javascript:void(null)" class="mapArea" id="FMS_4" shape="poly" coords="200,81,233,57,350,3,350,9,277,70,265,71,255,87,256,102,282,139,254,138,220,123,212,110,206,111,201,105,204,100" />
					</map>
				</div>
			</div>
		</div>
	</div>

	<div class="g_14">

		<form name="searchForm" id="searchForm" action="<?=PATH_WEB?>" method="POST">
			<input type="hidden" name="status" value="<?=OfferType::BUY?>"/>
		<!-- search tabs -->
		<div class="g_14 alpha omega">
			<ul class="searchTab">
				<li class="buy"><div class="active">buy</div></li>
				<li class="rent"><div>rent</div></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>

		<!-- search form -->
		<div class="g_14 alpha omega">

			<div class="g_5 alpha">
					<fieldset id="location">
						<label for="location">Location</label>
						<div class="multiselect">
							<dl>
<?php
	foreach ($cityList as $city) {
?>
								<dd><input type="checkbox" name="city[]" value="<?=$city->getId()?>"/><div><?=$city->getName()?><?=$city->getParent() ? null : ' area'?></div></dd>
<?php
	}
?>
							</dl>
						</div>
					</fieldset>
			</div>
			<div class="g_6">
				<div class="g_6 fields alpha omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'property',
				'label'	=> "Property type",
				'list'	=> $propertyTypeList,
				'value'	=> PropertyType::PROPERTY,
			))
	);
?>
				</div>

				<div class="clear"></div>

				<div class="g_3 alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::BEDROOMS.'][min]',
				'label'	=> "Min Bedrooms",
				'list'	=> $bedsList,
				'topOption'	=> 'Any',
			))
	);
?>
				</div>
				
				<div class="g_3 omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::BEDROOMS.'][max]',
				'label'	=> "Max Bedrooms",
				'list'	=> $bedsList,
				'topOption'	=> 'Any',
			))
	);
?>
				</div>
				<!-- div class="g_3 fields omega">
					<fieldset id="type[<?=FeatureType::AREA?>]">
						<label for="type[<?=FeatureType::AREA?>]">Area</label>
						<div class="input">
							<input type="text" name="type[<?=FeatureType::AREA?>]" value="" class="area"/>
						</div>
					</fieldset>
				</div-->

				<div class="clear"></div>

				<div class="g_3 fields alpha">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PRICE.'][min]',
				'label'	=> "Min Price",
				'list'	=> $priceList,
				'topOption'	=> 'Any',
			))
	);
?>
				</div>

				<div class="g_3 fields omega">
<?php
	$partViewer->view(
		'_parts/form/select',
		Model::create()->
			set('params', array(
				'name'	=> 'type['.FeatureType::PRICE.'][max]',
				'label'	=> "Max Price",
				'list'	=> $priceList,
				'topOption'	=> 'Any',
			))
	);
?>
				</div>

			</div>

			<!-- search button -->
			<div class="g_2 s_1 omega">
					<fieldset id="submit">
						<label for="submit">&nbsp;</label>
						<input type="submit" value=">>" style="height: 150px; border: 1px #FFCD6C solid;" />
					</fieldset>
			</div>
			<div class="clear"></div>

		</div>
		
		</form>
		
	</div>
	
</div>